<%= form_for(@publication) do |f| %>
<% if @publication.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

	<ul>
		<% @publication.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<fieldset>
	<legend>新的分享</legend>
	<label>ISBN：</label>
	<div class="input-append">
		<%= f.text_field :isbn %>
		<button id="btn_isbn_help" class="btn" type="button">?</button>
	</div>
	<label>提取地点：</label>
	<%= f.text_field :location %>
</fieldset>

<div class="actions">
	<button type="submit" class="btn">提交</button>
</div>
<% end %>

<%= javascript_include_tag "/publications/publication_form.js" %> 
