<div class="book_list" id="list_<%= publication.id %>">
	<div class="book_pic">
		<%= image_tag publication.cover %>
	</div>
	<div class="book_info">
		<ul>
			<li class="bookname blue">
				<%= link_to publication.title, publication %>
			</li>
			<li class="author">作者：<%= publication.authors %>　著
				<% if !publication.translators.empty? %>
					，
					<%= publication.translators%>　译
				<% end %>
			</li>
			<li class="press">出版社：<%= publication.publisher %></li>
			<li class="press_date">出版时间：<%= publication.pubdate %></li>
			<li class="price">
				定价：￥<span class="price_pre arial"><%= publication.price %></span>
			</li>
			<li class="appraise">
				<span class="writerno">16261 人读过</span>
			</li>
		</ul>
	</div>
	<div class="arrow">
		<ul>
			<li class="count">
				<span class="strong">谁有这本书：</span>
				<hr />
				<ul>
					<li>李小波（1）</li>
					<li>李小波（1）</li>
					<li>李小波（1）</li>
				</ul>
			</li>
			<!-- <li class="action">
							<span class="btn_collect">
								<%= image_tag "btn_buy.gif" %>
							</span>
							<span class="btn_buy">
								<%= image_tag "btn_buy.gif" %>
							</span>
						</li> -->
		</ul>
	</div>
</div>