<tr>
	<td style="vertical-align:middle">
		<%= image_tag publication.cover, :class => "img-polaroid", :size => "96x120" %>
	</td>
	<td>
		<ul class="unstyled">
			<li>
				<h5><%= link_to publication.title, publication, :target => "_blank" %></h5>
			</li>
			<li>作者：<%= publication.authors %>　著
				<% if !publication.translators.empty? %>
				，
				<%= publication.translators%>　译
				<% end %>
			</li>
			<li>出版社：<%= publication.publisher %></li>
			<li>出版时间：<%= publication.pubdate %></li>
			<li>
				定价：￥<span><%= publication.price %></span>
			</li>
			<li>
				<span>16261 人读过</span>
			</li>
			<li>
				<span>贡献者：</span>
				<% publication.publications.each do |publication| %>
				<%= link_to publication.contributor.name, publication, :class => "label" %>
				<% end %>
			</li>
		</ul>
	</td>
	<td style="vertical-align:middle">
		<a href="#" class="btn btn-large">我要借</a>
	</td>
</tr>