<p>
	<h4>
		<%= @publication.title %>
	</h4>
	<div class="row">
		<div class="span2">
			<%= image_tag @publication.cover, :class => "img-polaroid", :size => "96x120" %>
		</div>
		<div class="span5">
			<ul class="unstyled">
				<li>作者：<%= @publication.authors %></li>
				<% if !@publication.translators.blank? %>
				<li>译者：<%= @publication.translators %></li>
				<% end %>
				<li>出版社：<%= @publication.publisher %></li>
				<li>出版年：<%= @publication.pubdate %></li>
				<li>页数：<%= @publication.pages %> </li>
				<li>定价：<span class="price_pre"><%= @publication.price %></span></li>
				<% if !@publication.binding.blank? %>
				<li>装帧：<%= @publication.binding %></li>
				<% end %>
				<li>ISBN：<%= @publication.isbn %></li>
			</ul>
		</div>
		<div class="span2">
			<%= link_to "我要借", new_order_path(:publication => @publication), :class => "btn btn-large" %>
		</div>
	</div>
	<div class="related_info">
		<br />
		<br />
		<h5><blockquote>内容简介</blockquote></h5>
		<div class="well"><p><%= @publication.summary%></p></div>
		<br />
		<br />
		<h5><blockquote>作者简介</blockquote></h5>
		<div class="well"><p><%= @publication.author_intro%></p></div>
		<br />
		<br />
		<h5><blockquote>常用标签</blockquote></h5>
		<div class="intent">
			<% @publication.tags.each { |tag| %>
				<%= link_to tag.name, tag, :class => "label" %>
		     	<% } %>
		</div>
	</div>
</p>