<p>
	<div class="title">
		<h1>
			<%= @publication.title %>
		</h1>
	</div>
	<div class="subject clearfix">
		<div id="mainpic">
			<%= image_tag @publication.cover %>
		</div>
		<div id="info">
			<ul>
				<li>作者：<%= @publication.authors %></li>
				<% if !@publication.translators.blank? %>
					<li>译者：<%= @publication.translators %></li>
				<% end %>
				<li>出版社：<%= @publication.publisher %></li>
				<li>出版年：<%= @publication.pubdate %></li>
				<li>页数：<%= @publication.pages %> </li>
				<li>定价：<span class="price_pre"><%= @publication.price %></span></li>
				<% if !@publication.binding.blank? %>
					<li>装帧：<%= @publication.binding %></li>
				<% end %>
				<li>ISBN：<%= @publication.isbn %></li>
			</ul>
			<div id="tags">
				Tags：<% @publication.tags.each { |tag| %>
					<%= link_to tag.name %>
					<% } %>
			</div>
			
		</div>
		<div id="actions" style="background:#eee;">
			<%= link_to "我要借", new_order_path(:publication => @publication) %>
		</div>
	</div>
	<div class="related_info">
		<h2>内容简介· · · · · ·</h2>
		<div class="indent">
			<%= "　　" + @publication.summary%>
			<br />
		</div>
		<h2>作者简介· · · · · ·</h2>
		<div class="intent">
			<%= "　　" + @publication.authors%><br />
			<%= "　　" + @publication.author_intro%><br />
		</div>
	</div>