<p id="notice"><%= notice %></p>

<p>
	<div class="title">
		<h1>
			<%= @publication.title %>
		</h1>
	</div>
	<div class="subject">
		<div id="mainpic">
			<%= image_tag @publication.cover %>
		</div>
		<div id="info">
			<span>
				<span class="pl">作者</span>: <%= @publication.additional_attributes.find_by_name("author").value %>
			</span>
			<br>
			<span>
				<span class="pl">译者</span>: <% @publication.translators.each { |translator| %>
				<%= translator.value %>
				<% } %>
			</span>
			<br>
			<span class="pl">出版社:</span> <%= @publication.publisher %><br>
			<span class="pl">出版年:</span> <%= @publication.pubdate %><br>
			<span class="pl">页数:</span> <%= @publication.pages %> <br>
			<span class="pl">定价:</span> <%= @publication.price %><br>
			<span class="pl">装帧:</span> <%= @publication.binding %><br>
			<span class="pl">ISBN:</span> <%= @publication.isbn %><br>
		</div>
	</div>
	<p>
		<b>Count:</b>
		<%= @publication.count %>
	</p>
	
	<p>
		<b>State:</b>
		<%= @publication.status %>
	</p>

	<p>
		<b>Contributor:</b>
		<%= @publication.contributor.name %>
	</p>

	<p>
		<b>Tags:</b>
		<span class="tags">
		<% @publication.tags.each { |tag| %>
			<%= tag.name %>
		<% } %>
		</span>
	</p>

		<%= link_to 'Edit', edit_publication_path(@publication) %> |
		<%= link_to 'Back', publications_path %>
