<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
   <%= link_to @publication.title, "http://book.douban.com/isbn/" + @publication.isbn + "/", {:target => "_blank"} %>
</p>

<p>
  <b>Author:</b>
  <%= @publication.author %>
</p>

<p>
  <b>Cover:</b>
  <%= image_tag @publication.cover %>
</p>

<p>
  <b>State:</b>
  <%= @publication.status %>
</p>

<p>
  <b>Contributor:</b>
  <%= @publication.contributor.name %>
</p>

<p>
  <b>Tags:</b>
	<% @publication.tags.each { |tag| %>
	<li><%= tag.name %></li>
	<% } %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
